body {
  height: 100%;
  font-display: swap;
  background-color: #1a202c;
  font-family: "Pinyon Script", cursive;
  overflow-y: scroll;
}

.layout__container {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #1a202c;
}
.slides {
  height: 100%;
}
.slides::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  /* scroll-snap-align: start; */
  /* flex-shrink: 0; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slider {
  background-color: transparent;
}
.slider a {
  letter-spacing: 1px;
  font-size: 16px;
}

.slider a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #73ccbf;
  transition: width 0.3s;
}

.slider a:hover:after {
  width: 100%;
}

.project_card:hover {
  border: 1px solid;
  outline: 1px solid;
  box-shadow: inset 0 0 20px black, 0 0 20px black;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  color: white;
}
.project_card:hover > a:hover {
  background-color: #0e1217;
}
li::before {
  content: "• ";
  color: #73ccbf;
  font-size: 17px;
  margin-top: 20px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 16em;
  height: 8em;
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  bottom: 0;
}

.loader::after {
  box-sizing: border-box;
  width: 50%;
  height: inherit;
  border: 0.2em solid#1a202c;
  left: 25%;
}

.loader span {
  position: absolute;
  width: 5%;
  height: 35%;
  background-color: #73ccbf;
  bottom: 0.2em;
  left: -5%;
  animation: 3s linear infinite;
  transform-origin: 0% -3em;
  animation-name: run, rotating;
}

.loader span:nth-child(2) {
  animation-delay: 0.075s;
}
.loader span:nth-child(3) {
  animation-delay: 0.15s;
}

@keyframes run {
  0% {
    left: 25%;
  }
  10%,
  60% {
    left: 50%;
  }
  70%,
  100% {
    left: 50%;
  }
}

@keyframes rotating {
  0%,
  10% {
    transform: rotate(360deg);
  }
  60%,
  100% {
    transform: rotate(-1turn);
  }
}
